# === Database ===
DATABASE_URL=postgresql://leafcode:leafcode@localhost:5432/leafcode?schema=public

# === Authentication ===
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=RANDOM_CRYPTOGRAPHIC_STRING_32_CHARS_LONG # Generate with `openssl rand -base64 32`

# Google SSO Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub SSO Configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Microsoft SSO Configuration
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=